html, body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica;
  margin: 20px;
}

.picker-item {
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

.disabled {
  opacity: 0.2;
}

.active.disabled {
  opacity: 1;
}

.picker-item:hover {
  border-color: #d7d8da;
}

.picker-item.active:hover {
  border-color: #ffd384;
}

.color-picker--item {
  border-radius: 17px;
  height: 34px;
  width: 34px;
  border: 3px solid #e4e4e4;
}

.color-picker--item.black {
  background: #000;
  color: #fff;
}

.color-picker--item.white {
  background: #fff;
  color: #000;
}

.color-picker--item.silver {
  background: silver;
  color: #000;
}

.button-picker--item {
  background: none;
  border: 3px solid #e4e4e4;
  padding: 10px;
}

.selected-sku {
  padding: 16px;
  margin: 5px 0;
  background-color: #85d685;
  color: #212121;
  border: 1px solid #57af57;
}

.selected-variant-container {
  padding: 14px 0;
  font-size: 13px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin: 18px 0;
  color: #4e4e4e;
}

.selected-variant-container--selection:after {
  content: ', '
}

.selected-variant-container--selection:last-of-type:after {
  content:''
}

.active {
  border: 3px solid #fda504;
}

.purchase {
  background-color: #09b0da;
  color: #fff;
  font-weight: 600;
  padding: 15px;
  border-radius: 4px;
  border-width: 0;
  text-transform: uppercase;
}

.hide {
  transition: opacity 300ms;
  opacity: 0;
}

.show {
  transition: opacity 300ms;
  opacity: 1;
}

h4 {
  color: #4c4c4c;
  margin-bottom: 8px;
}
