html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  margin: 20px;
}

.picker-item {
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

.picker-item:hover {
  border-color: #d7d8da;
}

.picker-item.active:hover {
  border-color: #ffd384;
}

.color-picker--item {
  border-radius: 17px;
  height: 34px;
  width: 34px;
  border: 3px solid #e4e4e4;
}

.color-picker--item.black {
  background: #000;
  color: #fff;
}

.color-picker--item.white {
  background: #fff;
  color: #000;
}

.color-picker--item.silver {
  background: silver;
  color: #000;
}

.button-picker--item {
  background: none;
  border: 3px solid #e4e4e4;
  padding: 10px;
}

.selected-sku {
  padding: 16px;
  margin: 5px 0;
  background-color: #85d685;
  color: #212121;
  border: 1px solid #57af57;
}

.selected-variant-container {
  padding: 15px 0;
}

.selected-variant-container--selection:after {
  content: ' + '
}

.selected-variant-container--selection:last-of-type:after {
  content:''
}

.active {
  border: 3px solid #fda504;
}

h4 {
  color: #4c4c4c;
  margin-bottom: 8px;
}
