{{#if values.length}}
  <h4>Power picker</h4>

  {{#each values as |value|}}
    {{#variant-pickers/-item value selected=selectedValues class="power-picker--item" on-click=(action variant-selected)}}
      {{value.label}}
    {{/variant-pickers/-item}}
  {{/each}}
{{/if}}
