{{#if values.length}}
  <h4>Power</h4>

  {{#each values as |value|}}
    {{#variant-pickers/-private/item value selected=selectedValues class="power-picker--item" on-click=(action variant-selected)}}
      {{value.label}}
    {{/variant-pickers/-private/item}}
  {{/each}}
{{/if}}
