<h4>{{theme.label}}</h4>

{{#each values as |value|}}
  {{#variant-pickers/-private/item value
      selected=_selectedValues
      class="button-picker--item"
      on-change=(action variant-selected)
  }}
    {{value.label}}
  {{/variant-pickers/-private/item}}
{{/each}}
