<h2>{{model.name}}</h2>

{{#each variantThemes as |theme|}}
  {{component (concat 'variant-pickers/' (if (has-component (concat 'variant-pickers/' theme.label)) theme.label 'unknown'))
      variant-selected=(action 'variant-selected')
      availableValues=availableVariantValues
      selectedValues=selectedValues
      values=theme.values
      theme=theme
  }}
{{/each}}

{{#if selectedValues.length}}
  <div class="selected-variant-container">
    <strong>SELECTED:</strong>

    {{#each selectedValues as |selection|}}
      <span class="selected-variant-container--selection">{{selection.label}}</span>
    {{/each}}
  </div>
{{/if}}

<button class="purchase {{if selectedVariant 'show' 'hide'}}">Purchase</button>
