<h4>Color picker</h4>

{{#each _values as |value|}}
  <button title={{value.label}} class="color-picker--item color-picker--item--{{value.label}}" {{action variant-selected value.variantTheme.label value}}></button>
{{/each}}
